.container-fluid a{
    color:white !important;
}
.container-fluid span{
    color:white !important;
}
.navbar-toggler span{
    color: white !important;
}
.error-message{
    color: red !important;
}