{% extends "base.html" %}


{% block content %}
<h1>Tasks in {{workspace}}</h1>
<!--Section resume task group by project-->

<div class = "container text-center">
  <h2>Task group by project</h2>
  <div class="row">
{% for project, tasks in task_group_by_projects %} 
    <div class="col">
      <div class="card">
        <h5 class="card-header">{{project}}</h5>
        
            {% for task in tasks %}
            <div class="card-body">
            <a href={% url 'detail_task' id=task.pk %}><h5 class="card-title">{{task}}</h5></a>
            <p class="card-text"><b>Description: </b>{{task.description}}</p>
            <a href={% url 'update_task' id=task.pk %} class="btn btn-primary">Modify Task</a>
            <a href={% url 'delete_task' id=task.pk %}><button  class="btn btn-danger">Delete</button></a>
          </div>
          {% endfor %}
        
      </div>
    </div> 
{% endfor %}
  </div>
</div>
<!--Section resume task group by project-->

<form action={% url 'create_task' %} method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingname" placeholder="Please, write your name" name="name">
        <label for="Inputname" >Name</label>
    </div>

    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="projects">
        <option selected>Which project does it belong to?</option>
            {% for project in projects %}
            <option value={{project.pk}} >{{project.name}}</option>
            {% endfor %}        
    </select>

    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="floatingdate"  name="dead_line" min={{now}}>
        <label for="floatingdate" >Dead Line</label>
    </div>
    
    <div class="form-floating">
        <textarea class="form-control" placeholder="Please, write description for project" name= "description"id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Description</label>
      </div>

   
    <button  class="btn btn-outline-success">Create</button>
</form>



{% endblock content %}
    