{% extends "base.html" %}

{% block content %}
<div class="container-sm">
    <div class= "row">
        <div class ="col">
            <h2>{{work_space.name}}</h2>
        </div>

        <div class ="col text-center">
            <form action={% url 'select work space' %} method="post">
                {% csrf_token %}
                <h4 >Cambio de espacio de trabajo</h4>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="work_space">
                    <option selected>Despliegue para seleccionar</option>
                    {% for work_space in work_space_change %}
                    <option value={{work_space.pk}} >{{work_space.work_space}}</option>
                    {% endfor %}        
                </select>
                <button  class="btn btn-outline-dark">Change</button>
            </form>
        </div>
    </div>
</div>
       
    <div class="container-sm">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Projects</th>
                <th scope="col">Tasks</th>
                
                </tr>
            </thead>
            <tbody>
{% for project, task,task_completed in tasks_group_by_project  %}
            <tr>
                <th scope="row">{{project}}</th>
                <td>{{task_completed|length}}/{{task|length}} </td> 
            </tr>

{% endfor %}
        
        </tbody>
    </table>
</div>

<!--Table of Projects, Task and activities-->
<!--Table of persons of team-->
<div class='container-sm'>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Area Lead</th>
            <th scope="col">collaborators</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" rowspan=2>Lider de area 1</th>
            <td>Mark</td>   
        </tr>
        <tr>
            <td>Jacob</td>   
        </tr>
        <tr>
            <th scope="row">Sin lider asignado</th>
            <td colspan="2">Larry </td>       
        </tr>
        </tbody>
    </table>
</div>
<!--Table of persons of team-->
<!--
  {% for user, rol in team %}
    
  {% if rol == '' %}
      
  {% endif %}
      
  {{user}}
  {{rol}}
  
{% endfor %}
-->
{% endblock content %}