{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects System for Managers</title>
    
    
    
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type='text/css'>
    {% bootstrap_css %}
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body">
        <div class="container-fluid ">
          <a class="navbar-brand " href="#">Projects System for Managers</a></p>
          <!--Button for mobile-->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">☰</span>
          </button>
          <!--Button for mobile-->
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            {% if user.is_authenticated %}  
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Projects</a>
              <a class="nav-link" href="#">Tasks</a>
              <a class="nav-link" href="#">Team</a>
              <a class="nav-link" href="#">Logout</a>
              {% else %}
              <a class="nav-link " href={% url 'signin' %}>Login</a>
              <a class="nav-link " href={% url 'singup' %}>SingUp</a>
            {% endif %}  
            </div>
            
          </div>
          <span class="navbar-text">
            <a class="nav-link" href="#">{{user.username}}</a>
        </span>
        </div>
      </nav>

      
      {% block content %}
      
      {% endblock content %}
      {% bootstrap_javascript %}
</body>
</html>